In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
from fbprophet import Prophet

Sometimes there are fields missing, but one thing you could do to combat is to include error bad lines as False

In [6]:
chicago_1 = pd.read_csv('/Users/sophie/Desktop/Crime_Rate_Prediction/Chicago_Crimes_2001_to_2004.csv', error_bad_lines = False)

b'Skipping line 1513591: expected 23 fields, saw 24\n'
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning:

Columns (17,20) have mixed types.Specify dtype option on import or set low_memory=False.

In [7]:
chicago_2 = pd.read_csv('/Users/sophie/Desktop/Crime_Rate_Prediction/Chicago_Crimes_2005_to_2007.csv', error_bad_lines = False)

b'Skipping line 533719: expected 23 fields, saw 24\n'

In [8]:
chicago_3 = pd.read_csv('/Users/sophie/Desktop/Crime_Rate_Prediction/Chicago_Crimes_2008_to_2011.csv', error_bad_lines = False)

b'Skipping line 1149094: expected 23 fields, saw 41\n'

In [9]:
chicago_4 = pd.read_csv('/Users/sophie/Desktop/Crime_Rate_Prediction/Chicago_Crimes_2012_to_2017.csv', error_bad_lines = False)

How to put all the data into one data frame.

In [11]:
chicago_df = pd.concat([chicago_2, chicago_3, chicago_4])
chicago_df.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,4673626,HM274058,04/02/2006 01:00:00 PM,055XX N MANGO AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,45.0,11.0,26,1136872.0,1936499.0,2006,04/15/2016 08:55:02 AM,41.981913,-87.771996,"(41.981912692, -87.771996382)"
1,1,4673627,HM202199,02/26/2006 01:40:48 PM,065XX S RHODES AVE,2017,NARCOTICS,MANU/DELIVER:CRACK,SIDEWALK,True,...,20.0,42.0,18,1181027.0,1861693.0,2006,04/15/2016 08:55:02 AM,41.775733,-87.611920,"(41.775732538, -87.611919814)"
2,2,4673628,HM113861,01/08/2006 11:16:00 PM,013XX E 69TH ST,051A,ASSAULT,AGGRAVATED: HANDGUN,OTHER,False,...,5.0,69.0,04A,1186023.0,1859609.0,2006,04/15/2016 08:55:02 AM,41.769897,-87.593671,"(41.769897392, -87.593670899)"
3,4,4673629,HM274049,04/05/2006 06:45:00 PM,061XX W NEWPORT AVE,0460,BATTERY,SIMPLE,RESIDENCE,False,...,38.0,17.0,08B,1134772.0,1922299.0,2006,04/15/2016 08:55:02 AM,41.942984,-87.780057,"(41.942984005, -87.780056951)"
4,5,4673630,HM187120,02/17/2006 09:03:14 PM,037XX W 60TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,...,13.0,65.0,18,1152412.0,1864560.0,2006,04/15/2016 08:55:02 AM,41.784211,-87.716745,"(41.784210853, -87.71674491)"